@charset "UTF-8";

html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
html{
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

article, aside, details, figcaption, figure,
footer, header, menu, nav, section, time {
  display: block;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    font-family: Oswald, sans-serif;  
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

h1 {
    font-size: 3rem;
    font-family: Oswald, sans-serif;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

a {
    color: #fff;
}
ul li {
    list-style: none;
}
.global_container_ {
    max-width: 1490px;
    height: auto;
    margin: auto;
    padding: 1px;
    position: relative;
}

.flex{
    display: flex;
    align-items: center;
}
.transparent {
    background-color: transparent;
    border: none;
    outline: none;
}
.text-align-center {
    text-align: center;
}

.slide-h {
    font-family: Oswald, sans-serif;
    color: white;
    font-weight: bold;
    
}

.text-color {
   font-family: Oswald, sans-serif;
    color: white;
}
 .message {
    width: 100%;
    padding: 10px;
    background-color: transparent;
 }
 .top-bar {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
 }

 .watch-now{
    color: #2A8347;
    text-decoration: underline;
    cursor: pointer;
    margin:0%;
    padding: 0%;
 }
 .close-btn {
    background-color: #2A8347;
    width: 20px;
    height: 20px;
    padding: 4px 6px;
    margin-right: 34px;
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 0px;
 }

 .close-btn img {
    width: 10px;
    height: 10px;
 }
 #utility-nav-bar {
    width: 100%;
    padding: 15px 20px;
    background-image: url('../assets/pattern-bg.png');
    background-size: 200px;
    background-color: #10372B;
 }
 .utility-nav-bar {
     justify-content: space-between;
    }

.burger {
       display: none;
    }

.buttons {
    gap: 10px;
}
.buttons a p {
        color: #fff;
        font-weight:bold;
        font-family: Oswald, sans-serif;
        transform: skew( 10deg);
        text-align: center;
        letter-spacing: 0;
    }

.membership-btn {
    background-color: #2A8347;
    background-image: url('../assets/pattern-bg.png');
    padding: 10px 20px;
    width: 200px;    
    transform: skew(-15deg);
}    

.account-btn{
    background-color: #155938;
    background-image: url('../assets/pattern-bg.png');
    padding: 10px 20px;
    width: 200px;
    transform: skew(-15deg);
}

 
.our-tracks-3 {
  padding: 92px 0 50px;
  position: relative;
  width: 100%; /* 1440px / 1440px = 100% */
  background: url(images/rectangle_1_copy_2.png) no-repeat center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.l-constrained-5 {
  margin: 0 auto;
  position: relative;
  width: 1440px;
}
.row-5 {
  margin: 0 auto;
  position: relative;
  width: 1360px;
}
.button-right-arrow-copy {
  float: left;
  margin: 168px 0 0;
}
.text-8 {
  width: 474px;
  font-family: Oswald, sans-serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 50px;
  text-transform: uppercase;
}

nav {
    width: 100vw;
    height: auto;
    line-height: 50px;
    padding-left: 9px;
    padding-right: 9px;
    align-items: center;
    background-image: url('../assets/pattern-bg.png');
    background-size: 200px;
    background-color: #155938;
}

.nav-container {
    justify-content: space-between;
}

.nav-links {
    width: 60%;
}

.item {
    justify-content: space-around;
}

.owl-next, .owl-prev {
    color: #fff ;
    font-size: 67px;
    display: inline-block;
    position: absolute;
}

.owl-next {
    bottom: 45%;
    right: 1%;
}

.main-slider{
    margin-left: 35px;

}
.owl-prev {
    bottom: 45%;
    left: 0%;
}

.owl-theme .owl-dots .owl-dot span {
    width: 18px;
    height: 6px;
    margin: 5px 5px;
    background: #D6D6D6;
    display: block;
    margin-top: 45px;
    transition: opacity .2s ease;
    border-radius: 0px;
}



.hero > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
    margin-left: 2px;
  }
  
  .hero > div:nth-child(1) > div:nth-child(1) > div:nth-child(3) {
    margin-left: 540px;
  }
  
.owl-dots{
    margin-left:365px;
}
.owl-dot span {
    background-color: #d6e4e1;
}

.owl-dot.active span {
    background-color: white;
}

.hovernav-link {
    transform: skew(-20deg);
    transition: 0.1s ease-out;
}

.ntextskew{
    transform: skew(20deg);
    padding: 0 35px;
    font-family: Oswald, sans-serif;
    font-weight: bold;
}

.hovernav-link:hover, .active-skew {
    background-color: #2A8347;
    background-image: url('../assets/pattern-bg.png');
    background-size: 100px;
    box-shadow: 0px 0px 2px #10372B;
}



.search-bar {
    width: 20%;   
    height: 39px;
    background-color: #10372B;
    background-image: url('../assets/pattern-bg.png');
    display: flex;
    gap: 0px;
    justify-content: space-between;
    

    padding: 5px 10px;
}

.bg-trans img {
    cursor: pointer;
    padding: 0; margin: 0;
    width: 15px;
}

.main-content-wrapper{
    max-width: 1985px;
    height: auto;
    margin: auto;
    line-height: 111px;
    position: relative;
}

.HOME-PAGE {
    width: 75%;
    padding-left: 19px;
    color: #fff;
    background-image: url('../assets/pattern-bg.png');
    background-size: 450px;
    background-color: #2A8347;
    transform: skew(-20deg,0);
    transform-origin: top;
}


.home-title::before {
    content: '';
    width: 300px;
    height: 100px;
    background-color: #2A8347;
    background-image: url('../assets/pattern-bg.png');
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.reebok {
    width: 25%;
    justify-content: center;

    height: 100px;
    line-height: 100px;
    align-items: center;
    position: relative;
}

.reebok img{
     width: 180px;
     padding-left: 10px;
}

.small-bold-text {
    font-size: 12px;
    font-weight: 800;
    margin-right: 111px;
    font-family: Oswald, sans-serif;
    color: #2A8347;
}

.reebok-text {
    position: absolute;
    bottom: 18px;
    right: 15px;
    padding: 0px;
}

 .hero {
    width: 100vw;
    height: auto;
    position: relative;
    background-image: url('../assets/hero-bg.png');
    background-size: cover;
    background-position: center;

 }
.hero::after {
    content: '';
    background-color:#10372B;
    background-image: url('../assets/pattern-bg.png');
    position: absolute;
    top: 0; 
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.75;
}

.hero .global_container_ {
    padding-block: 15px;
}

.detail-hero{
    width: 35%;
}
.detail-hero h2 {
    font-size: 2.75rem;
    margin-block: 20px;
}

#mp4-hero {
    width: 320px;
    height: 320px;
    
    background-image: url(../assets/video-thumbnail-img.png);
    background-size: contain;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

#mp4-hero a {
    width: 65px;
    height: 65px;
    border-radius: 50%;

    background-color:#10372B;
    opacity: 0.7;

    display: flex;
    align-items: center;
    justify-content: center;
}

#mp4-hero a img {
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.smain {
  width: 100vw;  
  height: auto;
  background-color: #10372B;
  background-image: url('../assets/pattern-bg.png');

  padding-block: 5%;
}
.smain .global_container_ {
    justify-content: space-between;
    align-items: start;
}

.mainbody{
    width: 68%; 
}
.lastsliderimg{
   min-width: 23%;
    height: auto;
    border: 8px solid #94a8a434;

    cursor: pointer;
    
}

.second-slider-item {
    padding: 0px 25px;
}

hr {
    margin: 40px auto;
    width: 95%;

}

.posts {
    gap: 12px;
    flex-wrap: wrap;
    margin-left: 15px;

}

.post{
    width: 32%;
    align-self: flex-start;
    min-height: 400px;
    background-color: #2A8347;
    background-image: url('../assets/pattern-bg.png');
    background-size: cover;
    position: relative;

}
.post-img {
    width: 100%;
    height: 175px;

}

.post-title {
    margin: 5px 7px 5px 5px;
    font-size: 18px;
    padding: 7px;
    font-weight: 600;
}

.post-text {
    margin: 5px 7px 5px 5px;
    font-family:sans-serif;
    color: white;
    padding-left: 7px;
    padding-bottom: 49px;
}

.readmore-btn {
    width: 100%;
    text-align: center;
    font-weight: 700;
    padding: 11px ;
    background-color: #10372B;
    background-image: url('../assets/pattern-bg.png');
    background-size: 80px;
    opacity: 0.8;

    position: absolute;
    bottom: 0px;
    cursor: pointer;
}
.readmore-btn:hover{
    background: url(images/pattern-bg.png) no-repeat center 0;
    background-color:#1bad4b;
  }

.readmore-btn a {
    transition: color 0.2 ease-out;
}

.readmore-btn a:hover {
    color: #10372B;
}
.aside{
    height: auto;
    background-color: #2A8347;
      margin-right:122px;
    background-image: url('../assets/pattern-bg.png');
    counter-reset: section;

}

.events-title {
    background-color: #10372B;
    opacity: 0.75;
    padding: 8px;
    margin-bottom: 20px;

    font-weight: bolder;
    font-size: 20px;
}

.count::before {
    counter-increment: section;
    content: " "counter(section);
    padding: 5px 12px;
    column-rule-color: white;
    background-color: #fff;
    margin-right: 15px;
    color: #155938;
    font-size: 20px;
    font-weight: 900;
}

.event-container {
    padding: 5px 15px;
    margin-block: 0px;
   
    
}

.event-text {
    color: #d6e4e1;
}

.event-text h4 {
    text-decoration: underline;
    cursor: pointer;

    transition: all 1s linear;
}
.event-text h4:hover {
    text-decoration: none;
}

.event-text p {
    font-size: 16px;
    margin-top: 5px;
}

.contact-container{
    width: 100%;
    height: auto; 
    padding: 50px 20px;
    background-color:#155938;
    background-image: url('../assets/pattern-bg.png');
    }

    .mb-20 {
        margin-bottom: 20px;
    }

    .contactform-header {
    text-align: center;
    }

.form-container{
    justify-content: center;
}
.contactform {
    width: 53%;
    justify-content: center;
    height: auto;
   
}

.l-constrained-4 {
    width: 30%;
}


.input-gp {
    justify-content: space-betweens;
}

.contactform-input-t-text, select {
    border: none;
    padding: 10px;
    margin: 10px 0 20px 0;
    width: 90%;

    outline: none;
}
.form-container{
    max-width: 1415px;
    height: auto;
    margin: auto;
    padding: 0;
    position: relative;
}




.fancybox{
  left: 14.5px;
  top:163.5px;
  padding: 19px 23px;
  background-position: center;
  position: relative;
  width: 58px;
  margin-top: 35px;
  border-radius: 50%;
  background-repeat: no-repeat;
  opacity: .9;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(images/play-icon.png);
}


.form .input-radio {
    box-shadow: 0px 0px 0px 1px #6d6d6d;
    font-size: 3em;
    width: 25px;
    height: 25px;
    margin-right: 7px;
    border: 1px solid #fff;
    background-clip: border-box;
    border-radius: 50%;
    appearance: none;
    transition: background-color 0.3s, box-shadow 0.3s;
  
  }
  
  .input-radio.on:checked {
    box-shadow: 0px 0px 0px 4px #2A8347;
    background-color:#2A8347;
    border: 5px solid #fff;
  }
  .input-radio.off:checked {
    box-shadow: 0px 0px 0px 4px#2A8347;
    background-color: #2A8347;
  }
  
.input-1 {
    width: 48%;
}
.input-2 {
    width: 48%;
}

label, .gen-bold {
    font-weight: bolder;
    color: white;
}

.country-sms {
    margin-block: 20px;
}

.country-sms textarea {
    margin-top: 10px;
    width: 92%;
    padding: 15px;

    outline: none;
}

.btn-box {
    width: 98%;
    text-align: center;
}

.submit-btn {
    width: 200px;
    background-color: #10372B;
    background-image: url('../assets/pattern-bg.png');
    padding: 10px;
    font-weight: bolder;
    font-size: 1rem;
    margin: auto;
    border: none;
    outline: none;
    cursor: pointer;
}
.submit-btn:hover{
    background: url(images/pattern-bg.png) no-repeat center 0;
    background-color:#1bad4b;
  }
.submit-btn:hover {
    color: #2A8347;
    background-image: url('../assets/pattern-bg.png');
    font-weight: bolder;
    font-size: 1rem;
}

footer {
    width: 100%;
    height: auto;
    background-color: #10372B;
    background-image: url('../assets/pattern-bg.png');
    background-size: 100px;

    transition: 0.5s linear;
}

.footer-links {
    padding-top: 20px;
}

.footer-links a {
    transition: all 0.2s linear;
}
.footer-links a:hover {
    text-decoration: underline;

}

.footer-icons  {
    margin-block: 15px;
}


.footer-icons img  {
    margin: 5px;

} 
.footer-icons img:hover  {
    opacity: 0.4;

}     

.copyright {
    font-size: 16px;

    padding-bottom: 30px;
}
.zig-zag-posts{
    margin-top: 30px;
    margin-left: 10px; 
    padding: 10px;
    width: 99.5%; 
}
.zig-zag-1 {
    min-height: 259px;
    background-color: #2A8347;
    background-image: url('../assets/pattern-bg.png');
    background-size: cover;
    overflow: hidden;
    align-items: stretch;
    position: relative;
}

.zig-zag-img-1 {
    width: 65%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    object-fit: cover;
    position: relative;
   
}

.zig-zag-content {
    width: 30%;
    padding: 15px ;
    box-sizing: border-box;
    text-align: center;
    flex: 1;
}
.zig-zag-content .post-title, .zig-zag-content .post-text {
    text-align: left;
    padding-left: 0px;
  margin-left: 5px;
  margin-right: 0px;
}

.zig-zag-2 {
    background-color:#155938;
    background-image: url('../assets/pattern-bg.png');
    background-size: cover;
    overflow: hidden; 
    align-items: stretch;
}


.zig-zag-img-2 {
    width: 65%;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 12% 100%);
    margin-left: 110px;
    object-fit: cover;
}
    



    

